<nav class="flex mx-auto w-auto justify-between">
  <!-- Logo -->
  <div>
    <a href="">
      <span>LOGO</span>
    </a>
  </div>

  <!-- navigation menu -->
  <ul class="flex flex-initial">
    <li class=""><a routerLink="/">Home</a></li>
    <li class="px-6"><a routerLink="">Category</a></li>
    <li class="px-6"><a routerLink="/categories">Category Control</a></li>
    <li class="px-6"><a routerLink="">Orders</a></li>
    <!--partition-->
    <li class="" class="mx-5 border-l-2 border-b-slate-800 h-8"></li>
    <li>
      <i class="fi fi-tc-search"></i>
    </li>
    <!-- cart and authentication buttons -->
    <li class="px-3"><a routerLink="">Cart</a></li>
    <li class="px-3"><a routerLink="" class="">Login</a></li>
    <li class="px-3"><a routerLink="">Sign up</a></li>
  </ul>
</nav>
