<nav class="bg-white flex px-52">
  <!-- Logo -->
  <div>
    <a href="">
      <span>LOGO</span>
    </a>
  </div>

  <!-- navigation menu -->
  <div>
    <ul class="flex">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="">Category</a></li>
      <li><a routerLink="/categories">Category Control</a></li>
      <li><a routerLink="">Orders</a></li>
      <!--partition-->
      <li class="mx-5 border-l-2 border-b-slate-800 h-8"></li>

      <!-- cart and authentication buttons -->
      <li><a routerLink="">Cart</a></li>
      <li><a routerLink="">Login</a></li>
      <li><a routerLink="">Sign up</a></li>
    </ul>
  </div>
</nav>
